<app-header></app-header>
<app-banner></app-banner>
<div class="place-content-center justify-center text-center scannerBox rounded-md relative">
  <div class="scanner-overlay">
    <p>Align the QR code within the frame to scan</p>
  </div>
  <zxing-scanner
    [formats]="formats"
    (scanSuccess)="handleQrCodeResult($event)"
    [device]="currentDevice"
    [autostart]="true"
    (camerasFound)="onCamerasFound($event)"
  ></zxing-scanner>
  <p *ngIf="!hasPermission">Camera access is not granted. Please allow camera access to scan QR codes.</p>
<h1>Update 1</h1>
</div>
<app-footer></app-footer>
