<app-header></app-header>
<app-banner></app-banner>
<div class="scanner-container">
  <div class="scannerBox">
    <div class="scanner-overlay">
      <img src="assets/imgs/overlay.png" alt="Scanner Overlay">
    </div>
    <zxing-scanner
      #scanner
      [formats]="formats"
      (scanSuccess)="handleQrCodeResult($event)"
      [device]="currentDevice"
      [autostart]="true"
      (camerasFound)="onCamerasFound($event)"
    ></zxing-scanner>
    <p *ngIf="!hasPermission">Camera access is not granted. Please allow camera access to scan QR codes.</p>
  </div>
</div>
<div class="flex justify-center">
<button type="button" class="border-2 border-gray-500 bg-gray-500 hover:bg-gray-600 text-white py-1 w-[95%] mx-auto rounded-md font-semibold" (click)="cancel()">
  <i class="fa-solid fa-times"></i>Cancel
</button>
</div>
