<app-header></app-header>
<app-banner></app-banner>
<div class="scanner-container">
  <div class="scannerBox relative">
    <div class="scanner-overlay">
      <!-- Overlay PNG image with transparent background -->
      <img src="assets/imgs/scanner.png" alt="Scanner Overlay">
    </div>
    <zxing-scanner
      [formats]="formats"
      (scanSuccess)="handleQrCodeResult($event)"
      [device]="currentDevice"
      [autostart]="true"
      (camerasFound)="onCamerasFound($event)"
      style="width: 100%; height: 100%;"
    ></zxing-scanner>
    <p *ngIf="!hasPermission">Camera access is not granted. Please allow camera access to scan QR codes.</p>
  </div>
</div>
<app-footer></app-footer>
