<div class="border-blue-300 bg-blue-950 text-white p-2 w-full inset-x-0 bottom-0 mx-auto mt-2">
  <div class="container mx-auto py-2 z-10 relative">
    <div class="flex flex-col lg:flex-row flex-wrap justify-center">
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
        <h3 class="text-2xl">Contact Information</h3>
        <ul class="my-4 text-slate-300 font-light">
          <li class="mt-2 hover:text-white">📍 Jarash road .20 KM out of Amman. Amman Jordan</li>
          <li class="mt-2 hover:text-white">📬P.O.Box: 1 Amman - Jordan 19392</li>
          <li class="mt-2 hover:text-white">📧{{email}}</li>
          <li class="mt-2 hover:text-white">📱+96264799000</li>
          <li class="mt-2 hover:text-white">📱+96264799040</li>
        </ul>
        <hr>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
        <h3 class="text-2xl">Quick Links</h3>
        <ul class="my-4 text-slate-300  font-light">
          <a href="https://www.philadelphia.edu.jo/announce/transportation-timesheet-2019-2020.pdf"><li class="mt-2 hover:text-white">🚌 Transportation sections</li></a>
          <a href="https://www.philadelphia.edu.jo/research-portal/"><li class="mt-2 hover:text-white">🤝🏼 Discussion</li></a>
          <a href="https://library.philadelphia.edu.jo/st_en.htm"><li class="mt-2 hover:text-white">📚 Library</li></a>
          <a href="https://bl.philadelphia.edu.jo/login/index.php"><li class="mt-2 hover:text-white">👨‍🏫 Moodle</li></a>
        </ul>
        <hr>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
        <h3 class="text-2xl">Faculty and Staff</h3>
        <ul class="my-4 text-slate-300 font-light">
          <a href="https://outlook.office.com/mail/"><li class="mt-2 hover:text-white">📮 PU Email</li></a>
          <a href="https://www.philadelphia.edu.jo/academics"><li class="mt-2 hover:text-white">🧝 Faculty Members Website</li></a>
          <a href="http://portals.philadelphia.edu.jo/employee-portal/"><li class="mt-2 hover:text-white">🗿 Employee Portal</li></a>
          <a href="https://www.philadelphia.edu.jo/rules-and-regulations"><li class="mt-2 hover:text-white">🦯 Rules and Regulations</li></a>
        </ul>
        <hr>
      </div>
    </div>
  </div>
</div>
