<app-header></app-header>
<app-banner></app-banner>
<div class="flex-col justify-center center-items w-[80%] mx-auto  rounded-2xl pb-2">
  <div class="flex flex-row justify-between mt-3 p-2 shadow-lg bg-gray-50 rounded-md">
    <h1 class="text-xl block w-1/2 font-base text-center">Name: {{user?.name}}</h1>
    <h1 class="text-xl block w-1/2 font-base text-center">ID: {{user?.id}}</h1>
    <hr class="mt-3">
  </div>
  <div class="w-[82%] lg:w-2/4 mx-auto mt-3 p-6 hover:shadow-lg bg-gray-50 rounded-md" *ngFor="let course of lecturerCourses">
    <h1
      class="text-xl block text-center font-semibold bg-blue-300 p-1 rounded-md cursor-pointer"
      (click)="goToCourse(course)">
      {{ course.name }}
    </h1>
    <div class="mt-3">
      <p class="text-center items-center p-1 text-xl font-base">Course Code: {{ course.code }}</p>
    </div>
  </div>
</div>
<p class="-mt-[10px] absolute">ඞ</p>
<app-footer></app-footer>
